<main>
  <section>
    <form action="GET" method="post">
      <input
        type="text"
        name="Peliculas"
        id="peliculas"
        placeholder="Ejemplo: la casa de papel"
        class="js_search-films"
      />
      <input type="submit" value="Buscar" class="js_button" />
      <input type="reset" value="resetear" class="js_reset" />
    </form>
  </section>
  <section>
    <h2>Mis series favoritas</h2>
    <ul class="js_favorite-films"></ul>
    <div>
      <h2>Listado de series</h2>
      <ul class="js_films"></ul>
    </div>
  </section>
</main>
