<main class="main">
  <form action="GET" method="post" class="form">
    <div class="container">
      <label for="peliculas" class="label"> Busca tu serie favorita : </label>
      <input
        type="text"
        name="Peliculas"
        id="peliculas"
        placeholder="Ejemplo: la casa de papel"
        class="js_search-films search__films"
      />
    </div>
    <div>
      <input type="button" value="Buscar" class="js_button button" />
      <input type="reset" value="resetear" class="js_reset button" />
    </div>
  </form>

  <section class="results">
    <div class="favorites">
      <h2 tittle="favorites__tittle">Mis series favoritas</h2>
      <ul class="js_favorite-films"></ul>
    </div>
    <div class="films">
      <h2 class="films__tittle">Listado de series</h2>
      <ul class="js_films"></ul>
    </div>
  </section>
</main>
