<main>
  <form action="GET" method="post">
    <input
      type="text"
      name="Peliculas"
      id="peliculas"
      placeholder="Ejemplo: la casa de papel"
      class="js_search-films"
    />
    <input type="button" value="Buscar" class="js_button" />
    <input type="reset" value="resetear" class="js_reset" />
  </form>

  <section class="results">
    <div class="favorites">
      <h2 tittle="favorites__tittle">Mis series favoritas</h2>
      <ul class="js_favorite-films"></ul>
    </div>
    <div class="series">
      <h2 class="series__tittle">Listado de series</h2>
      <ul class="js_films"></ul>
    </div>
  </section>
</main>
