.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  font-size: 14px;
  color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
