.footer {
  height: 10vh;
  background-color: #091a46;

  left: 0;
  bottom: 0;
  width: 100vw;
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
