.page {
  height: 100vh;
  width: 100vw;
  background: #ececec;
  font-family: "Varela Round", sans-serif;
  text-align: center;
}

.tittle {
  font-size: 50px;
  color: #1b2f50;
  font-family: "Rampart One", cursive;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
