list_item {
}

.tittle_name {
}
.image {
}
//EStilos de los favoritos

.list_favoritos {
  list-style: none;
  padding-top: 20px;
}
.div_favoritos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title_favoritos {
  font-size: 18px;
}
.img_favoritos {
  width: 90px;
  height: 135px;
  padding-top: 10px;
}
.fa-times-circle {
  padding-top: 10px;
  color: gray;
  cursor: pointer;
}
