.tittle_name {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.image {
  width: 180px;
}
.js-list_item {
  list-style: none;
}
//Estilos de los favoritos

.favorito {
  background-color: #8912f850;
  color: #ecf3e7;
  border-radius: 10px;
  margin-bottom: 10px;
}
.list_favoritos {
  list-style: none;
  padding-top: 20px;
}

.div_favoritos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title_favoritos {
  font-size: 14px;
}
.img_favoritos {
  width: 110px;
  height: 150px;
  padding-top: 10px;
}
