.main {
}
.form {
  display: flex;
  flex-direction: column;
}
.container {
  padding-bottom: 15px;
}
.label {
  color: #017f8b;
  font-weight: 600;
  font-size: 18px;
}
.search__films {
  height: 26px;
  text-align: center;
}
.button {
  text-transform: uppercase;
  font-weight: 600;
  color: #5a2f55;
  width: 100px;
  height: 30px;
  margin-left: 10px;
  background-color: #feceba;
  border-radius: 21px;

  &:hover {
    color: white;
    transform: scale(1.2);
    background-color: #c391c5;
  }
}

.results {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.favorites {
  font-size: 8px;
  color: #098f94;
  width: 20vw;
}
.films {
  color: #098f94;
  width: 60vw;
}
