.results {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.favorites {
  font-size: 8px;
  color: #204e35;

  width: 20vw;
}
.series {
  color: #1d4a4e;
  width: 70vw;
}
